{% extends "ContaMiner/base.html" %}
{% block content %}
<h1>ContaMiner</h1>
<h2>List of contaminants available</h2>
<dl>
{% for category, content in list_contaminants.items %}
    <dt><span>{{ category }}</span></dt>
    <dd><ul class="no-bullet">
        {% for contaminant in content %}
        <li>
        <a href="http://www.uniprot.org/uniprot/{{ contaminant.uniprot_id }}">
            {{ contaminant.short_name }} - {{ contaminant.long_name }}</a>
        </li>
        {% endfor %}
    </ul></dd>
{% endfor %}
</dl>
{% endblock %}

