{% extends "ContaMiner/base.html" %}
{% block head %}
    <script
src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r83/three.min.js">
    </script>
    <script
        src="https://uglymol.github.io/uglymol.js">
    </script>
{% endblock %}
{% block content %}<h1>ContaMiner</h1>
{% load staticfiles %}
<h3>Results visualizer</h3>
<div id="viewer" style="width: 70vw; height: 70vw"></div>
<script>
    V = new UM.Viewer({viewer: "viewer"});
    V.load_pdb("{% static "" %}web_task_{{ job_id }}/{{ task_desc }}.pdb");
    V.load_ccp4_maps(
        "{% static "" %}web_task_{{ job_id }}/{{ task_desc }}.map",
        "{% static "" %}web_task_{{ job_id }}/{{ task_desc }}.diff.map");
</script>
<p>This page uses <a href="https://github.com/uglymol/uglymol">Uglymol</a>.</p>
{% endblock %}
