# Copy this file on config.ini
[SSH]
hostname = cluster.example.com
port = 22
username = you
password = no need if an identityfile is given
identityfile = /home/you/.ssh/id_rsa

[CLUSTER]
contaminer_location = /opt/ContaMiner
work_directory = /data/contaminer

[LOCAL]
tmp_dir = /tmp
website_dir = /home/django/website/
# How long static directories are kept on the webserver
keep_time = 7

[THRESHOLDS]
positive = 95
bad_model_coverage = 60
bad_model_identity = 80
